<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" id="WebApp_ID" version="3.1">
  <display-name>TestServletProject</display-name>
  
  <servlet>
  	<servlet-name>display</servlet-name>
  	<servlet-class>com.jspStandardTagLibrary.DemoServlet</servlet-class>
  </servlet>
  
  <servlet-mapping>
  	<servlet-name>display</servlet-name>
  	<url-pattern>/display</url-pattern>
  </servlet-mapping>
  
  <servlet>
  	<servlet-name>abc</servlet-name>
  	<servlet-class>com.TestFile.AddServlet</servlet-class>
  </servlet>
  
  <servlet-mapping>
  	<servlet-name>abc</servlet-name>
  	<url-pattern>/add</url-pattern>
  </servlet-mapping>
  
  <servlet>
  	<servlet-name>first</servlet-name>
  	<servlet-class>com.TestFile.SecondServlet</servlet-class>
  </servlet>
  
  <servlet-mapping>
  	<servlet-name>first</servlet-name>
  	<url-pattern>/add1</url-pattern>
  </servlet-mapping>
  
  <servlet>
  	<servlet-name>square</servlet-name>
  	<servlet-class>com.TestFile.SqServlet</servlet-class>
  </servlet>
  
  <servlet-mapping>
  	<servlet-name>square</servlet-name>
  	<url-pattern>/sq</url-pattern>
  </servlet-mapping>
  
  <servlet>
  	<servlet-name>check</servlet-name>
  	<servlet-class>com.DemoConfig.MyServlet</servlet-class>
  	
  	<init-param>
  		<param-name>name</param-name>
  		<param-value>shukesh</param-value>
  	</init-param>
  	
  </servlet>
  
  <servlet-mapping>
  	<servlet-name>check</servlet-name>
  	<url-pattern>/home</url-pattern>
  </servlet-mapping>
  
  <context-param>
  	<param-name>name</param-name>
  	<param-value>Nitesh</param-value>
  </context-param>
  
  <context-param>
  	<param-name>phone</param-name>
  	<param-value>realme</param-value>
  </context-param>
  
  
  
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
</web-app>